# pip install mysql-connector-python, not others

In [22]:
 import mysql.connector

In [23]:
mydb=mysql.connector.connect(host="localhost",user="venky88an", password="1234", database="telusko")

In [24]:
mycursor=mydb.cursor()

# need only showing all databases

In [8]:
# mycursor.execute("show databases") need only showing all databases

# Fetching one from the database

In [25]:
mycursor.execute("select * from student")

In [26]:
result=mycursor.fetchone()

In [27]:
for i in result:
    print(i)

navin
vsit

# Fetching all from the database

In [9]:
mycursor=mydb.cursor()

In [10]:
mycursor.execute("select * from student")

In [11]:
mycursor

In [12]:
lst=[]
for i in mycursor:
    print(i)
    lst.append(i)

('navin', 'vsit')
('Priya', 'bvit')

In [15]:
import pandas as pd
df=pd.DataFrame(lst)
df

       0     1
0  navin  vsit
1  Priya  bvit

# Code basics pandas series; pip install sqlalchemy, pip install PyMySQL

In [76]:
import pandas as pd

In [77]:
import sqlalchemy

In [91]:
engine =sqlalchemy.create_engine("mysql+pymysql://venky88an:1234@localhost/elusko")

In [92]:
engine

Engine(mysql+pymysql://venky88an:***@localhost/elusko)

In [93]:
df=pd.read_sql_table("student",engine)

In [94]:
df

    name college
0  navin    vsit
1  Priya    bvit
2  navin    vsit
3  Priya    bvit
4  navin    vsit
5  Priya    bvit
6  navin    vsit
7  Priya    bvit

In [104]:
df2 = pd.DataFrame({"name":["venkat","loshini"],
                    "college":["AU","iit"]}) 
df2

      name college
0   venkat      AU
1  loshini     iit

In [96]:
df.append(df2, ignore_index = True)

      name college
0    navin    vsit
1    Priya    bvit
2    navin    vsit
3    Priya    bvit
4    navin    vsit
5    Priya    bvit
6    navin    vsit
7    Priya    bvit
8   venkat      AU
9  loshini     iit

In [97]:
df.to_sql("student",con=engine,index=False,if_exists="append")

# replace working but append is not working

In [105]:
df2.to_sql('student', con=engine,index=False,if_exists='replace')

In [106]:
engine.execute("SELECT * FROM student").fetchall()

[('venkat', 'AU'), ('loshini', 'iit')]

# format for engine:

In [ ]:

#engine = create_engine("mysql+pymysql://user:pass@host/db")
#metadata = MetaData(bind=engine)

# Mongodb connection with python

# pip install pymongo

In [13]:
import pymongo

In [19]:
client=pymongo.MongoClient("localhost", 27017)

In [20]:
mydb=client["Employee_new"]

In [21]:
information = mydb.employeeinformation

# for single record

In [22]:
record={
    "firstname":"Ramasamy","Lastname":"Natesan","Department":"Distance education"
}

In [23]:
information.insert_one(record)

# for multiple record

In [26]:
multi_record=[{
    "firstname":"Ramasamy","Lastname":"Natesan","Department":"Distance education"
},{"firstname":"Anandhi","Lastname":"Ramasamy","Department":"Kitchen"}]

In [27]:
information.insert_many(multi_record)

# Fetch the collections in the databases

In [28]:
information.find_one()

{'_id': ObjectId('5f2d9579e0278024d0feaf61'),
 'firstname': 'Ramasamy',
 'Lastname': 'Natesan',
 'Department': 'Distance education'}

In [29]:
information.find()

In [30]:
for record in information.find():
    print(record)

{'_id': ObjectId('5f2d9579e0278024d0feaf61'), 'firstname': 'Ramasamy', 'Lastname': 'Natesan', 'Department': 'Distance education'}
{'_id': ObjectId('5f2e4047e0278024d0feaf62'), 'firstname': 'Ramasamy', 'Lastname': 'Natesan', 'Department': 'Distance education'}
{'_id': ObjectId('5f2e4047e0278024d0feaf63'), 'firstname': 'Anandhi', 'Lastname': 'Ramasamy'}
{'_id': ObjectId('5f2e4092e0278024d0feaf64'), 'firstname': 'Ramasamy', 'Lastname': 'Natesan', 'Department': 'Distance education'}
{'_id': ObjectId('5f2e4092e0278024d0feaf65'), 'firstname': 'Anandhi', 'Lastname': 'Ramasamy', 'Department': 'Kitchen'}

In [33]:
for record in information.find({"firstname":"Anandhi"}):
    print(record)

{'_id': ObjectId('5f2e4047e0278024d0feaf63'), 'firstname': 'Anandhi', 'Lastname': 'Ramasamy'}
{'_id': ObjectId('5f2e4092e0278024d0feaf65'), 'firstname': 'Anandhi', 'Lastname': 'Ramasamy', 'Department': 'Kitchen'}

# Query exercise Employee_new2 is another database

In [34]:
mydb=client['Employee_new2']
empinfo=mydb.employeeinformation

In [35]:
record={
        'firstname':'Krish',
        'lastname':'Naik',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }
empinfo.insert_one(record)

In [36]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [37]:
empinfo.insert_many(records)

In [38]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('5f2ea9c2e0278024d0feaf66'),
 'firstname': 'Krish',
 'lastname': 'Naik',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [39]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f2ea9c2e0278024d0feaf66'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf67'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf68'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf69'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf6a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [40]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Krish'}):
    print(record)

{'_id': ObjectId('5f2ea9c2e0278024d0feaf66'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [41]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5f2ea9c3e0278024d0feaf69'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf6a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [42]:
for record in empinfo.find({"qualification":"master", "age": {"$lt":35}}):
    print(record)

{'_id': ObjectId('5f2ea9c3e0278024d0feaf6a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [47]:
for record in empinfo.find({"qualification":"master", "age": {"$gt":30}}):
    print(record)

{'_id': ObjectId('5f2ea9c3e0278024d0feaf6a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [45]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'masters'},{'qualification':'master'}]}):
    print(record)

{'_id': ObjectId('5f2ea9c2e0278024d0feaf66'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf68'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f2ea9c3e0278024d0feaf6a'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [50]:
#And operator
for record in empinfo.find({'$and':[{'firstname':'Krish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('5f2ea9c2e0278024d0feaf66'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

# inventory will be one of the collections under employee_new2

In [51]:
inventory=mydb.inventory

In [56]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [57]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('5f2ee155e0278024d0feaf6b'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f2ee242e0278024d0feaf70'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('5f2ee257e0278024d0feaf75'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [80]:
import pymongo

client=pymongo.MongoClient("localhost", 27017)

mydb=client['Employee_new3']
inventory=mydb.inventory

In [81]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketchpad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [82]:
inventory.update_one(
{"item":"sketchpad"},
{"$set":{"size.uom":"m","status":"Z"},
"$currentDate":{"lastModified":True}}
)

In [87]:
# its working fine

In [86]:
inventory.update_one(
{"item": "sketchbook"},
{"$set":{"size.uom":"vm","status":"P"},
"$currentDate":{"lastModified":True}}
)

In [89]:
inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "out", "status": "P"},
     "$currentDate": {"lastModified": True}})

In [ ]:
 # Before
    
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"}

In [90]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

In [107]:
inventory.replace_one({"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 80},
         {"warehouse": "B", "qty": 20}]})